/* General */
:root {
    --white:   #ABB2BF;
    --black1:  #282C34; --black2:  #2c3039;
    --grey1:   #4b5263; --grey2:   #5C6370;
    --red1:    #C84065; --red2:    #F26C91;
    --yellow1: #D19A66; --yellow2: #E5C07B;
    --blue1:   #6985D7; --blue2:   #A2C1F5;
    --green1:  #80D468; --green2:  #A3F2A0;
    --purple1: #C86AD4; --purple2: #D2A2F5;

    height: 100%;
}

body {
    background: url("bg.svg");
    font-family: monospace;
    line-height: 1.4;
    color: var(--white);
}

a {
    color: var(--purple2);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cmnt { color: var(--grey2); }
.user { color: var(--red1); }
.host { color: var(--red2); }
.path { color: var(--blue1); }
.repo { color: var(--blue2); }


/* Terminal */
.terminal {
    background: var(--black2);
    border: 1px dashed var(--white);
    max-width: 80ch;
    margin: auto;
}

.terminal header {
    padding: 0.25em 0.5em;
    border-bottom: 1px dashed var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
.terminal header:after {
    content: "— □ 🗙";
}

.terminal section {
    padding: 0.5em;
}
.terminal section > :first-child {
    margin-top: 0;
}
.terminal section > :last-child {
    margin-bottom: 0;
}

.terminal pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
