/* General */
:root {
    --white:   #ABB2BF;
    --black1:  #282C34; --black2:  #2c3039;
    --grey1:   #4b5263; --grey2:   #5C6370;
    --red1:    #C84065; --red2:    #F26C91;
    --yellow1: #D19A66; --yellow2: #E5C07B;
    --blue1:   #6985D7; --blue2:   #A2C1F5;
    --green1:  #80D468; --green2:  #A3F2A0;
    --purple1: #C86AD4; --purple2: #D2A2F5;
}

body {
    background-color: var(--black1);
    font-family: monospace;
    color: var(--white);
}

a {
    color: var(--purple2);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.comment { color: var(--grey2); }
.user    { color: var(--red1); }
.host    { color: var(--red2); }
.path    { color: var(--blue1); }

/* Terminal */
.terminal {
    background: var(--black2);
    border: 1px dashed var(--white);
    max-width: 100ch;
    margin: auto;
}

.terminal > * {
    padding: 0.5em;
    margin: 0;
}

.terminal header {
    border-bottom: 1px dashed var(--white);
}

.terminal pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
